* {
    box-sizing: border-box;
}

html, .body-config {
    display: flex;
    height: 100%;
    overflow-y: hidden;
}

header {
    font-size: 26px;
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ul-style {
    align-self: center;
}

.li-death-style {
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
}

.tag {
    white-space: nowrap;
    color: dodgerblue;
}

.selector {
    white-space: nowrap;
    color: #279655;
}

.attr-name {
    color: #279655;
}

.attr-value {
    color: #73c507;
}

.property {
    color: dodgerblue;
}

.hexcode {
    color: rgb(167, 122, 1);
}

.number {
    color: dodgerblue;
}

.unit {
    color: rgb(0, 0, 0);
}

.punctuation {
    white-space: pre;
    color: black;
}

.main-section {
    text-align: justify;
}

.code-html {
    max-width: 100%;
    height: auto;
}

.code-global {
    max-width: 100%;
    height: auto;
    background-color: #fcfd9f;
    border-radius: 15px;
    overflow: auto;
}

.code-css {
    max-width: 100%;
    height: auto;
}

.link-style {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: lightseagreen;
    font-weight: 600;
    text-decoration: none;
}

.nav-link {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 135%;
    color: black;
    text-decoration: none;
}

.header-nav {
    margin-bottom: 5%;
    align-self: center;
    font-size: 125%;
}

#main-doc {
    margin-left: 0%;
    padding: 3%;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    width: 75%;
}

#navbar {
    display: flex;
    flex-direction: column;
    padding: 3%;
    border-right: solid;
    border-color: rgba(0, 22, 22, 0.4);
    width: 25%;
    height: 100%;
    overflow-y: auto;
}

#img-logo {
    max-width: 50%;
    height: auto;
    margin-bottom: 5%;
    align-self: center;
}

footer {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: small;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    padding: 3%;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

#important-information {
    color: #FF0000;
}

#footer-information {
    color: #ffffff;
    font-size: small;
}

@media screen and (min-height: 100px) {
    #background-photo {
        background-image: url("Images/Background.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
}